.form-group{
	margin-bottom: 2rem;
    width: 300px;
    color: white;

}
.form-control{
	background-color: #272436;
}

body{
	background:linear-gradient(450deg,#573443,#4D4A5B,#213459);
	display: flex;
	justify-content: center;
}

.btn{
	display: flex;
	justify-content: center;
	width:300px;
	margin-bottom:10px;
}
	